<div class='bottom_menu'>
  <div class="layout">
    <div class="logo">
      <h1><%= link_to "Art Life", root_path %></h1>
      <p>Time art in our life</p>
    </div>
    <%= render 'share/menu' %>
  </div>
</div>
