@import "mixins/helpers";

.bottom_menu {
  .gradient (#4e4e4e, #1f1f1f);
  border-bottom: 1px solid #707070;
  height: 45px;
  width: 100%;

  a {
    color: #fff;
    font-size: 12px;
    line-height: 45px;
    margin-right: 20px;

    &:hover, &:active {
      color: #fff;      
    }
  }
}