@import "mixins/helpers";

.content {
  font-size: @font-size;
  padding: 20px 0;

  .breadcrumb {
    border: 0;
    background: none;
    color: @title;
    font-size: 11px;
    padding: 0;

    a {
      color: @link;
      text-decoration: underline;
    }
  }

  section {
    header {
      h1 {
        .border-radius (0 5px 5px 0);
        background: @bg-title;
        color: #fff;
        display: inline-block;
        font-size: @font-size;
        line-height: 18px;
        padding: 5px 0 5px 40px;
        width: 140px;
      }

      &.Projects {
        display: none;
      }
    }

    article {
      margin: 20px 40px;

      h1 {
        font-size: 22px;
        font-weight: normal;

        span {
          font-size: 15px;
        }
      }

      .date {
        font-weight: bold;
      }

      .preview {
        a {
          color: @link;
          text-decoration: underline;
        }        
      }
    }
  }

  .media_item {
    margin: 10px 10px 10px 0;
  }

  .artist_column {
    > section {
      display: inline-block;
      margin-bottom: 30px;
      vertical-align: top;
      width: 49%;
    }

    .biograpfy {
      border-left: 1px solid @bg-title;
    }
  }


  .artist_wrapper {
    display: inline-block;
    margin: 10px;
    padding: 0;
    vertical-align: top;
    width: 215px;

    > div {
      display: table-cell;
      height: 215px;
      text-align: center;
      vertical-align: middle;
      width: 215px;

      > a {
        display: block;

        img {
          max-height: 215px;
          max-width: 215px;
        }
      }
    }
    > a {
      color: @link;
      display: block;
      line-height: 1.0em;
      padding: 10px 0;
      text-align: center;
    }
  }
}