<h3>Properties</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Code</th>
      <th>Value_en</th>
      <th>Value_cn</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.code %></td>
        <% Artlife::Application.config.locales.each do |locale| %>
          <td><%= raw property.value_by_locale locale %></td>
        <% end -%>
        <td><%= link_to raw("<i class='icon-pencil'></i>"), edit_admin_property_path(property) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

